DATABASE_URL=

REDIS_HOST=
REDIS_PORT=

PORT=
JWT_SECRET=

MAILER_HOST=
MAILER_PORT=
MAILER_USER=
MAILER_PASS=

ASAAS_API_URL=
ASAAS_API_KEY=

AWS_ACCESS_KEY=
AWS_SECRET_KEY=
AWS_S3_BUCKET_NAME=
AWS_S3_BUCKET_REGION=
